#lblSongTitle{
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, white, #FFB329);
    -fx-font-family:"System Bold";
    -fx-text-alignment: center;
}
#btnAddMusic {
    -fx-background-color:transparent;
    -fx-text-fill:#FFB329;
    -fx-border-color: #32FAFA;
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-font-family: "System Bold";
    -fx-cursor: hand;
}
#btnAddMusic:hover{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: #32FAFA;
}
#btnAddMusic:pressed{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
}
#btnAddToFav{
    -fx-background-color:transparent;
    -fx-text-fill: #32FAFA;
    -fx-border-color: #FFB329;
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-font-family: "System Bold";
    -fx-cursor: hand;
}
#btnAddToFav:hover{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: #32FAFA;
}
#btnAddToFav:pressed{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
}
#btnNext,#btnPause,#btnPlay,#btnResume,#btnStop{
    -fx-background-color:transparent;
    -fx-text-fill: #32FAFA;
    -fx-border-color: #FEFFFF;
    -fx-border-width: 3;
    -fx-border-radius: 15;
   -fx-cursor: hand;
}

